# Data — never push
data/
*.h5
*.nc
*.npy

# Large model checkpoints
checkpoints/
*.pth
*.pt

# Raw rasters
*.tif
*.tiff

# Python
__pycache__/
*.pyc
.DS_Store
venv/
iidm_env/
ml_env/
.ipynb_checkpoints/
wandb/
